.main__card {
    margin: 10px auto;
    width: 100%;
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 50px;

    .card {
        // position: relative !important;
        display: flex;
        align-items: center;
        justify-content: center;
        .card-text {
            display: inline-block;
            background-color: white;
            font-weight: 600;
            padding: 4px;
        }
    }
}

h2 {
    margin: 20px 0 20px 12px;
}